<section id="about">
  <div class="container">
    <div class="row">


      <div class="col-md-12" style="background-color: #fff;">

        <div class="col-md-4 ss-phones" style="text-align:left;">
          <div>703-522-2638</div>
          <div>703-525-1122</div>

        </div>

        <div class="col-md-4" style="text-align: center; vertical-align: top">





          <table>
            <tr>
              <td valign="bottom"><img src="/assets/images/metro-washingtondc-icon.jpg" width="45"></td>
              <td style="padding-left: 10px;">
<span class="ss32">
            3421 N. Washington Blvd.<br>
            Arlington, VA  22201<br>

            </span>

                <span class="ss20">We are Two Blocks from Virginia Square Metro Orange and Silver Lines</span>
              </td>

            </tr>


          </table>
        </div>



        <div class="col-md-4" style="text-align: right; vertical-align: top">
          <%= link_to "Customer Reviews", displayreviews_path, :class => "btn btn-success" %>
          <%= link_to "Write a Review", new_review_path, :class => "btn btn-primary" %>
          <img src="/assets/images/ase_cert2.jpg"><br>

        </div>



      </div>
    </div>
</section>














