<section id="about">
  <div class="container">
    <div class="row">


      <div class="col-md-12 col-sm-4 wow bounceInRight" style="background-color: #fff">

        <div class="col-md-3" style="text-align: left; vertical-align: top">
          <div style="font-weight: bold;font-size: 32px; color: #000;">703-522-2638</div>
          <div style="font-weight: bold;font-size: 32px; color: #000;">703-525-1122</div>

        </div>

        <div class="col-md-3" style="text-align: center; vertical-align: top">




            <span class="ss32">
            3421 N. Washington Blvd.<br>
            Arlington, VA  22201<br>

            </span>

        </div>

        <div class="col-md-3" style="text-align: left; vertical-align: top">


          <table>
            <tr>
              <td><img src="/assets/images/metro-washingtondc-icon.jpg" width="45"></td>
              <td style="padding-left: 10px;">

                <span class="ss20">We are Two Blocks from Virginia Square Metro Orange and Silver Lines</span>
              </td>

            </tr>


          </table>


        </div>

        <div class="col-md-3" style="text-align: right; vertical-align: top">
          <%= link_to "Customer Reviews", displayreviews_path, :class => "btn btn-success" %>
          <%= link_to "Write a Review", new_review_path, :class => "btn btn-primary" %>


        </div>



      </div>
    </div>
</section>














