<style>
    #map {
        width: 500px;
        height: 400px;
    }
</style>
<hr>
<section id="directions" style="background-color: #fff">
  <div class="container">
    <div class="row">


      <div class="row">
        <!-- Map Column -->


        <div class="col-md-8">
          <!-- Embedded Google Map -->

          <p>
            <iframe src="//batchgeo.com/map/25075f5ee780a226a5c0d0a5fe05e755" frameborder="0" width="100%" height="550" style="border:1px solid #aaa;"></iframe>
          </p>
          <p>
            <small>View <a href="https://batchgeo.com/map/25075f5ee780a226a5c0d0a5fe05e755">Directions</a> in a full
              screen map
            </small>
          </p>

        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
          <span class="ss32">Directions</span>

          <p>
            3421 N. Washington Blvd<br>Arlington, VA 22201<br>
          </p>
          <img src="/assets/images/metro-washingtondc-icon.jpg">

          <p><strong>Two Blocks from Virginia Square Orange Line Metro</strong></p>


          <p><i class="fa fa-phone"></i>
            <abbr title="Phone">P</abbr>: 703-522-2638</p>

          <p><i class="fa fa-envelope-o"></i>
            <abbr title="Email">E</abbr>: <a href="mailto:service@eurauto.com">service@eurauto.com</a>
          </p>

          <p><i class="fa fa-clock-o"></i>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
          <ul class="list-unstyled list-inline list-social-icons">
            <li>
              <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.row -->


    </div>
  </div>
  </div>
</section>