<!--<section id="about">
  <div class="container">


    <div class="row">
      <div class="col-md-12"  style="background-color: #ccc">


          <img src="/assets/images/tools.jpg">

      </div>
    </div>

  </div>
</section>       -->



<section id="promo" class="promo section">
  <div class="container intro">


    <div class="row">
      <div class="col-md-6">
        <h2 class="title">Let our 45 Years 45 Year of Experience Work for You</h2>
        <ul type="square">
          <li>40 years family-owned business</li>
          <li>Your alternative to dealer servicing and maintenance</li>
          <li>professional, personalized service</li>
          <li>Accurate, fixed price, estimates -- no hourly charges</li>
          <li>ASE nationally certified mechanics</li>
        </ul>
        <div class="imgport" data-toggle="modal" data-target="#modal-philosophy">
          <h4>read more....</h4>
        </div>
      </div>
      <!--//intro-->


      <div class="col-md-6">
        <h2 class="title">We Service...</h2>
        Audi BMW Mercedes Porsche Volkswagen Jaguar Landrover Mini Saab Volvo Acura Honda Lexus Mazda Nissan Saturn
        Toyota GM Ford Chrysler

      </div>
      <!--//intro-->


    </div>
  </div>
</section><!--//promo-->
