<!-- SERVICES -->
<section id="philosophy" style="background-color: #fff">
  <div class="container">

    <div class="row">
      <div class="col-md-7 col-md-push-3">
        <br><br><br><br><br><br><br><br>
        <span class="ss24">Our Philosophy...</span><br>


        <div class="z_justify">

          <p>As an alternative to dealer servicing and maintenance that is often impersonal, over-priced, and sometimes

            un-necessary, our goal is to provide professional, personalized, reasonable and fixed price (as opposed to
            an

            hourly charge) service and maintenance for your vehicle and in a timely manner, as if you were a member of
            our

            own

            family. By providing complete and accurate estimates for repairs and maintenance that are only performed
            with

            your approval we are able to return your vehicle to you in a timely manner and in safe and reliable
            operating

            condition. We do not believe in re-building your vehicle to new condition at every visit, nor to performing

            routine maintenurely as either can add considerably to your maintenance and repair costs over the

            life of your vehicle ownership.</p>


          <p>We are a 40 year old family owned business specializing in the repair of European automobiles. In our
            efforts

            to provide a full-service facility our clean, fully equipped shop allows our ASE nationally certified

            technicians to provide expert servicing on your vehicle utilizing the latest in equipment and training.</p>


          <p>Over the years, as a result of the many requests from our customers to work on other makes and models of

            vehicles within their families, we have gained considerable expertise in the repair of Japanese and Domestic

            vehicles as well.</p>

        </div>


      </div>
      <!-- end philosophy -->
    </div>
  </div>
  </div>