

<nav class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
         <span class="ss36">Our Philosophy...</span><br>

        <p>As an alternative to dealer servicing and maintenance that is often impersonal, over-priced, and sometimes un-necessary,  our goal is to provide professional, personalized, reasonable  and fixed price (as opposed to an hourly charge) service and maintenance for your vehicle in a timely manner as if you were a member of our own family.  By providing complete and accurate estimates for repairs and maintenance that are only performed with your approval we are able to return your vehicle to you in a timely manner and in safe and reliable operating condition.  We do not believe in re-building your vehicle to new condition at every visit, nor to performing routine maintenance prematurely as either can add considerably to your maintenance and repair costs over the life of your vehicle ownership.</p>

        <p>We are a 40 year old family owned business specializing in the repair of European automobiles.  In our efforts to provide a full-service facility our clean, fully equipped shop allows our ASE nationally certified technicians to provide expert servicing on your vehicle utilizing the latest in equipment and training.</p>

        <p>Over the years, as a result of the many requests from our customers to work on other makes and models of vehicles within their families, we have gained considerable expertise in the repair of Japanese and Domestic vehicles as well.</p>






      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4" style="text-align: right;">
        <span class="ss36">703-522-2638<br>703-525-1122</span><br>
        <span class="ss24">
        3421 N. Washington Blvd.<br>
        Arlington, VA  22201
        </span>
        <br> <br>
        <div class="col-md-12">

                <div class="col-md-10" style="text-align: right;">
                Two Blocks from Virginia Square Metro -- Orange / Silver Line
                </div>

                <div class="col-md-2">
                  <img src="/assets/images/metro-washingtondc-icon.jpg" width="40">
                </div>

      </div>

        <div class="col-md-12">
          <br><br>
          <img src="/assets/images/ase_cert2.gif">
        </div>

      </div>
  </div>
  </div>
</nav>
