<!-- SERVICES -->


<style>
    .servicelink a {
        color: blue;
           }


    .servicelink a.current:hover {
        background: #ccc;
    }

    .servicelink a:hover {
        background: #ccc;
    }

    .servicelink a:focus {
        background: #ccc;
    }

</style>


<section id="services">
  <div class="container">

    <div class="row">





        <% @services.each do |service| %>
          <% modaltarget = '#myModal-' + service.id.to_s %>
            <% imgset= '/assets/images/' + service.image_file %>
            <div class="col-md-4" style="text-align: center">
              <div style="padding-top: 20px; padding-bottom:10px;">

                <a data-target="<%= modaltarget %>" href="#" data-toggle="modal" type="button">
                  <em class="<%= service.service_icon %>" style="font-size: 48px;"></em><br>
                  <span class="ss32"><%= service.name %></span>

                </a>




                <%#= link_to service do %>

                      <!--<em class="<%#= service.service_icon %>" style="font-size: 48px;"></em><br>
                     <span class="ss32"><%#= service.name %></span>-->

                <%# end %>
            </div>
          </div>

        <% end %>


    </div>

  </div>

</section>
