<div>
  <div class="bannersmall" style="background-image:url('assets/images/eurautstretch.jpg');background-repeat: none;">
  </div>
  <div class="bannersmall" style="background-image:url('assets/images/eurautstretch.jpg');background-repeat: none;">
  </div>
  <div class="bannersmall" style="background-image:url('assets/images/eurautstretch.jpg');background-repeat: none;">
  </div>
  <div class="bannersmall" style="background-image:url('assets/images/eurautstretch.jpg');background-repeat: none;">
  </div>
</div>