<!-- Page Heading/Breadcrumbs -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">About Us

    </h1>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a>
      </li>
      <li class="active">About</li>
    </ol>
  </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
  <div class="col-md-6">
    <img class="img-responsive" src="/assets/images/dash1.jpg" alt="">
  </div>
  <div class="col-md-6">
    <h2>Our Philosophy...</h2>

    <p>As an alternative to dealer servicing and maintenance that is often impersonal, over-priced, and sometimes
      un-necessary, our goal is to provide professional, personalized, reasonable and fixed price (as opposed to an
      hourly charge) service and maintenance for your vehicle in a timely manner as if you were a member of our own
      family. By providing complete and accurate estimates for repairs and maintenance that are only performed with your
      approval we are able to return your vehicle to you in a timely manner and in safe and reliable operating
      condition. We do not believe in re-building your vehicle to new condition at every visit, nor to performing
      routine maintenance prematurely as either can add considerably to your maintenance and repair costs over the life
      of your vehicle ownership.</p>

    <p>We are a 40 year old family owned business specializing in the repair of European automobiles. In our efforts to
      provide a full-service facility our clean, fully equipped shop allows our ASE nationally certified technicians to
      provide expert servicing on your vehicle utilizing the latest in equipment and training.</p>

    <p>Over the years, as a result of the many requests from our customers to work on other makes and models of vehicles
      within their families, we have gained considerable expertise in the repair of Japanese and Domestic vehicles as
      well.</p>


  </div>
</div>
<!-- /.row -->

<!-- Team Members -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Our Team</h2>
  </div>
  <div class="col-md-4 text-center">
    <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">

      <div class="caption">
        <h3>John Smith<br>
          <small>Job Title</small>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">

      <div class="caption">
        <h3>John Smith<br>
          <small>Job Title</small>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">

      <div class="caption">
        <h3>John Smith<br>
          <small>Job Title</small>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">

      <div class="caption">
        <h3>John Smith<br>
          <small>Job Title</small>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">

      <div class="caption">
        <h3>John Smith<br>
          <small>Job Title</small>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">

      <div class="caption">
        <h3>John Smith<br>
          <small>Job Title</small>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- Our Customers -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Our Customers</h2>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
  </div>
</div>
<!-- /.row -->

<hr>