<!-- Page Heading/Breadcrumbs -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Advice Page

    </h1>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a>
      </li>
      <li class="active">Advice</li>
    </ol>
  </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
  <div class="col-md-6">
    <img class="img-responsive" src="/assets/images/dash1.jpg" alt="">
  </div>
  <div class="col-md-6">
    <h2>Advise Location...</h2>

    <p>Possible application function for people to submit emails for adivse. This would create some level of effort in responding but
      once thing it does is keeps the site fresh. If you do this I would have a small area on the home page for "latest advise entries..." </p>

    <p>I suspect that replies could be sent directly to questioners as well as saved in the DB.... there by building a 'knowledge base' to use an
      overused IT phrase.</p>

  </div>
</div>
<!-- /.row -->
