.ss {
    font-family: 'Exo', sans-serif;
}

.ss12 {
    font-family: 'Exo', sans-serif;
    font-size: 12px;
}

.ss14 {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
}

.ss16 {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}

.ss18 {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}

.ss20 {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

.ss24 {
    font-family: 'Exo', sans-serif;
    font-size: 24px;
}
.ss32 {
    font-family: 'Exo', sans-serif;
    font-size: 32px;
}
.ss36 {
    font-family: 'Exo', sans-serif;
    font-size: 36px;
}

.ss40 {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
}

.ss44 {
    font-family: 'Exo', sans-serif;
    font-size: 44px;
}

.ss-phones {
    font-family: 'Droid Sans Mono';
    font-size: 32px;
}

.fadein {
    position: relative;
    width: 500px;
    height: 150px;
}

.fadein img {
    position: absolute;
    left: 0;
    top: 0;
}

div.carlist {
    background-color: #67b168;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}

#parent div {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    color: #999;
}

#parent div:first-child {
    display: block;
}

div.parent {
    background: red
}

#parent > div {
    width: 1200px;
    height: 0px;
}

.shadow {
    text-shadow: 2px 2px #ff0000;
    font-size: 48px;
}

div.cars-static {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    color: #999;
}

.z_justify {
    text-align: justify;
    text-justify: inter-word;
}

.car1 {
    color: #000000;
}

.car2 {
    color: #666666;
}
