<div class="row">
  <div class="col-lg-12">


    <div class="col-md-8">


      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Latest Reviews</a></li>
        <li role="presentation">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews by Car Make</a></li>
        <li role="presentation">
          <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Summary Ratings</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">other</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="home">

          <%= render partial: 'reviews/latest_reviews' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="profile">
          <%= render partial: 'reviews/pie_manufacturer' %>
        </div>

      </div>

      <div role="tabpanel" class="tab-pane" id="messages">
        <%= render partial: 'reviews/summary_ratings' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>

  </div>

</div>

<div class="col-md-4">


  <%= render partial: 'searches/form' %>

</div>



</div>

</div>
