<p id="notice"><%= notice %></p>





<div class="row">
  <div class="col-lg-12">
    <div class="col-md-4" style="background-color: #ccc;">
      Possible image related to car manufacturer here>
    </div>

    <div class="col-md-8">
      <h2> <%= @manufacturer.name %></h2>

      <p>Potential here for car-specific advise pulled from both adivse data and from review data</p>
      <p><%#= @manufacturer.description %></p>

      <%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
      <%= link_to 'Back', manufacturers_path %>

    </div>
  </div>
</div>



