<!-- Footer -->
<footer>
  <nav class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Specialty Services 2015</p>
          <p>Website developed by Artisan Solutions
            <a href="mailto:smetzger@artisangroup-solutions.com">Contact</a><mailto: >
          </p>
        </div>
      </div>
    </div>
  </nav>
</footer>