<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Specialty Services @ Zolly Motors</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
  <!-- Bootstrap Core CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/assets/css/modern-business.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link href='/assets/css/zolly.css' rel='stylesheet' type='text/css'>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="ss">


<%= render 'layouts/navbar' %>

<% if params[:controller] == 'home' and params[:action] == 'index' %>
    <%= render 'home/carousel' %>
<% end %>


<hr>
<!-- Navigation -->
<!--<p class="notice"><%#= notice %></p>
<p class="alert"><%#= alert %></p> -->
<%#= render 'home/phone_numbers' %>


<!-- Page Content -->
<div class="container" style="width:100%">

  <div class="row">
    <%= yield %>
  </div>
</div>

<!-- /.container -->
<hr>
<%= render 'layouts/footer' %>


</body>

<!-- jQuery -->
<script src="/assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

<script>
    function Divs() {
        var divs = $('#parent div'),
                now = divs.filter(':visible'),
                next = now.next().length ? now.next() : divs.first(),
                speed = 1000;

        now.fadeOut(speed);
        next.fadeIn(speed);
    }

    $(function () {
        setInterval(Divs, 1400);
    });

</script>


<script>
    $(function () {
        $('.fadein img:gt(0)').hide();
        setInterval(function () {
                    $('.fadein :first-child').fadeOut()
                            .next('div').fadeIn()
                            .end().appendTo('.fadein');
                },
                3000);
    });
</script>

</html>
